{% extends "layout.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5">

                <div class="card shadow-lg p-4">
                    <div class="card-header text-center bg-white border-0 mb-3">
                        <h2 class="fw-bold">Set New Password</h2>
                        <p class="text-muted small">
                            Enter a new password for your account below.
                        </p>
                    </div>

                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            {% endif %}

                           {% for field in form %}
                                <div class="mb-3">
                                    {{ field.label_tag }}
                                    {{ field }}
{#                                    {% if field.help_text %}#}
{#                                        <div class="form-text small text-muted">{{ field.help_text }}</div>#}
{#                                    {% endif %}#}
                                    {% if field.errors %}
                                        <div class="text-danger small mt-1">
                                            {{ field.errors.0 }} {# show only the first error, if any #}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-lg w-100">
                                Set Password
                            </button>
                        </form>

                        <div class="text-center mt-3">
                            <a href="/users/login" class="text-decoration-none">
                                ← Back to login
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}