{% extends "layout.html" %}
{% load widget_tweaks %}

{% block content %}

<h1 class="text-center">Додати продукт</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="POST" enctype="multipart/form-data" id="product-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form.category.label_tag }}
                        {{ form.category|add_class:"form-select" }}
                    </div>
                    <div class="mb-3">
                        {{ form.name.label_tag }}
                        {{ form.name|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label_tag }}
                        {{ form.description|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        {{ form.price.label_tag }}
                        {{ form.price|add_class:"form-control" }}
                    </div>
                </div>

                <div class="col-md-6">
                    <h5 class="mt-0">Фото товару</h5>



                    <input type="file" id="product-images" multiple>
                </div>
            </div>

            <div class="d-flex flex-row">
                <button type="submit" class="btn btn-success mt-3">
                    Створити продукт
                </button>
            </div>
        </form>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', () => {

    FilePond.registerPlugin(FilePondPluginImagePreview);

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    const pond = FilePond.create(document.querySelector('#product-images'), {
        allowMultiple: true,

        server: {
            process: {
                url: '/products/upload-temp/',
                method: 'POST',
                name: 'file',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                onload: (response) => {
                const data = JSON.parse(response);
                console.log("UPLOAD RESPONSE:", data);
                return data.file_id;
}
            },

            revert: {
                 url: '/products/delete-temp/',
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json'
                },
                ondata: (formData) => JSON.stringify({
                    file_id: formData.get('file_id')
                })
            }
        }
    });

    document.querySelector('#product-form').addEventListener('submit', function(e) {
        e.preventDefault();

        const files = pond.getFiles();

        files.forEach((file, index) => {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'uploaded_images';
            input.value = file.serverId;

            const priorityInput = document.createElement('input');
            priorityInput.type = 'hidden';
            priorityInput.name = 'priorities';
            priorityInput.value = index;
            this.appendChild(priorityInput);

            this.appendChild(input);
        });

        this.submit();
    });

});
</script>
    
{% endblock %}