{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">

<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-8 col-xl-7">

            <div class="card shadow-lg p-4">
                <div class="card-header text-center bg-white border-0">
                    <h2 class="fw-bold">Реєстрація користувача</h2>
                </div>

                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p>{{ field.label }}: {{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="row">


                           <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    {{form.username.label}}
                                </label>
                                {{form.username}}
                                {% if form.username.errors %}
                                    <div class="text-danger">{{ form.username.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    {{form.first_name.label}}
                                </label>
                                {{form.first_name}}
                                {% if form.first_name.errors %}
                                    <div class="text-danger">{{ form.first_name.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">{{form.last_name.label}}</label>
                                {{form.last_name}}
                                {% if form.last_name.errors %}
                                    <div class="text-danger">{{ form.last_name.errors }}</div>
                                {% endif %}
                            </div>

                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{form.email.label}}</label>
                            {{form.email}}
                            {% if form.email.errors %}
                                <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label class="form-label">{{form.password1.label}}</label>
                                {{form.password1}}
                                {% if form.password1.errors %}
                                    <div class="text-danger">{{ form.password1.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">{{form.password2.label}}</label>
                                {{form.password2}}
                                {% if form.password2.errors %}
                                    <div class="text-danger">{{ form.password2.errors }}</div>
                                {% endif %}
                            </div>

                        </div>

                        <div class="mb-4">
                            <label class="form-label">{{form.image.label}}</label>
                            {{form.image}}
                            {% if form.image.errors %}
                                <div class="text-danger">{{ form.image.errors }}</div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg w-100">
                            Зареєструватися
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>
</div>

</div>
{% endblock %}
 